body{
    background-color: rgb(26, 132, 213);
}
.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 300px 300px 300px 300px;
    background-color: burlywood;
    border: 1px solid black;

}
.container1{
    display: grid;
    background-color: rgb(245, 249, 243);
    border: 1px solid black;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.container11{
    background-color: rgb(28, 67, 9);
    border: 1px solid black;
    margin-top: 30px;
    margin-left:20px;
    margin-right: 30px;
    margin-bottom:30px;
}
.container12{

    background-color: rgb(26, 147, 123);
    border: 1px solid black;
     margin-top: 30px;
     margin-right: 30px;
     margin-left:20px;
     margin-bottom:30px;
}
.container13{
    background-color: rgb(84, 26, 147);
    border: 1px solid black;
    margin-top: 30px;
    margin-right: 30px;
    margin-left:20px;
    margin-bottom:30px;
}
.container14{
    background-color: rgb(147, 101, 26);
    border: 1px solid black;
     margin-top: 30px;
      margin-right: 30px;
     margin-left:20px;
     margin-bottom:30px;
}
.container2{

    background-color: rgb(26, 147, 123);
    border: 1px solid black;
}
.container3{
    background-color: rgb(84, 26, 147);
    border: 1px solid black;
}
.container4{
    background-color: rgb(147, 101, 26);
    border: 1px solid black;
}
.header{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end:2 ;
    background-color: black;
    color: white;
    border: white;
}