/* body{
    background-color: rgb(26, 132, 213);
}
h2{
    color: white;
    text-align: center;
}
p{
    color: yellow;
    font-size: 20px;
    text-align: center;
}
#highlight {
    background-color: black;
    padding: 10px;
}
.italic {
    font-style: italic;
} */
 div+p{
    background-color: brown;
    color:white;
 }
 p::after{
    content: " - ABES Engineering College";
    color: yellow;
    background-color: brown ;
 
    font-size: 20px;
}
p::before{
    content: "Welcome to ";
    color: yellow;
    background-color: brown ;
 
    font-size: 20px;
}
p:nth-child(2){
    background-color: green;
 }
div p:nth-of-type(1){
    background-color: blue;
    font-size: smaller;
 }